.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: clamp(1.5rem, 1.2rem + 1.5vw, 2.5rem);
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.section-title a {
    color: var(--cnet-blue-primary);
    text-decoration: none;
}
.daily-box {
    border-radius: 8px;
    background-color: #ededed;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.daily-text {
    padding: 20px;
}
.slogan-section{
    background: url('../images/setting/funfact-bg.webp') center center / cover no-repeat;
    padding: 120px 0px;
    margin-top: -100px;
}
h3.slogan-text {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
section#slider {
    padding: 0px;
}
.product-section {
    background-image: url('../images/setting/car-bg.webp');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 50%;
}
